*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(29, 28, 29);
    color: beige;
}

#container{

    width: 75%;

    display: flex;
    flex-direction: column;

    background-color: rgb(112, 21, 160);
    border-radius: 0.3rem;

    padding: 2rem;
    gap: 1rem;
}

#mainHeading{

    color:rgb(12, 12, 13);
    font-size: 2.5rem;
    font-weight: bolder;
}

#user-container{

    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 0.5rem;
}

#userContainerPara{

    font-size: 1.1rem;
}

#userInputContainer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputTag{
    
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 50%;
}

#search-button{

    width: 13%;
    font-size: 1rem;
    border-radius: 0.2rem;
}

#progress-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 1.5rem 3rem;

    gap: 3rem;
}

.circle{

    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 3px solid rgb(38, 29, 29);
    border-radius: 50%;

    background: conic-gradient( #30293a var(--progress-degree, 0%), #6f0d8b 0%);
    font-size: 15px;
    font-weight: 700;
}

.circle span{

    position: relative;
    z-index: 2;
}

#card-container{

    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
}

.cards{
    
    width: 300px;

    background-color: rgb(99, 43, 112);
    border: solid rgb(38, 29, 29) 3px;

    font-size: 13px;

    padding: 1rem;
    border-radius: 5px;
}